.goBackBtn {
  text-decoration: none;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 5px;
  color: black;
}

.goBackBtn:hover,
:focus {
  color: brown;
}
.movieContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.movieImg {
  width: 25%;
}
.movieMainInform {
  width: 70%;
}
